<nav class="bg-white shadow" data-controller='toggle'>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="-ml-2 mr-2 flex items-center md:hidden">
          <!-- Mobile menu button -->
          <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false" data-action='toggle#toggle'>
            <!-- Icon when menu is closed. -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-target='toggle.toggleable'>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
            <!-- Icon when menu is open. -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" data-target='toggle.toggleable'>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
        <div class="flex-shrink-0 flex items-center">
          <a href="{{ site.url }}{{ site.baseurl  }}" aria-label="Home">
            <span class='text-xl xl:text-2xl font-bold leading-5 xl:leading-6 text-teal-600 hover:text-gray-900 transition duration-150 ease-in-out' style="font-family: 'Roboto Mono', monospace;">
              Rodrigo
            </span>
          </a>
        </div>
        <div class="hidden md:ml-6 md:flex">
          {% if page.url == "/" %}
            <a href="{{ site.url }}{{ site.baseurl  }}" class="inline-flex items-center px-1 pt-1 border-b-2 border-teal-500 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-teal-700 transition duration-150 ease-in-out">Home
            </a>
          {% else %}
            <a href="{{ site.url }}{{ site.baseurl  }}" class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">Home
            </a>
          {% endif %}

          {% if page.url == "/blog" %}
            <a href="{{ site.baseurl  }}/blog" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-teal-500 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-teal-700 transition duration-150 ease-in-out">Blog
            </a>
          {% else %}
            <a href="{{ site.baseurl  }}/blog" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">Blog
            </a>
          {% endif %}

          {% if page.url == "/contact/" %}
            <a href="{{ site.baseurl  }}/contact" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-teal-500 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-teal-700 transition duration-150 ease-in-out">Contact
            </a>
          {% else %}
            <a href="{{ site.baseurl  }}/contact" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">Contact
            </a>
          {% endif %}

          <a href="https://twitter.com/raguila8" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out" target="_blank">Twitter
          </a>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-teal-600 shadow-sm hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700 transition ease-in-out duration-150">
            <svg class='-ml-1 mr-2 h-5 w-5' xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2.00333 5.88355L9.99995 9.88186L17.9967 5.8835C17.9363 4.83315 17.0655 4 16 4H4C2.93452 4 2.06363 4.83318 2.00333 5.88355Z" fill="currentColor"/>
<path d="M18 8.1179L9.99995 12.1179L2 8.11796V14C2 15.1046 2.89543 16 4 16H16C17.1046 16 18 15.1046 18 14V8.1179Z" fill="currentColor"/>
            </svg>
            <span>Subscribe
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--
    Mobile menu, toggle classes based on menu state.

    Menu open: "block", Menu closed: "hidden"
  -->
  <div class="hidden md:hidden" data-target='toggle.toggleable'>
    <div class="pt-2 pb-3">
      {% if page.url == "/" %}
        <a href="{{ site.url }}{{ site.baseurl  }}" class="block pl-3 pr-4 py-2 border-l-4 border-teal-500 text-base font-medium text-teal-700 bg-teal-50 focus:outline-none focus:text-teal-800 focus:bg-teal-100 focus:border-teal-700 transition duration-150 ease-in-out sm:pl-5 sm:pr-6" role="menuitem">Home
        </a>
      {% else %}
        <a href="{{ site.url }}{{ site.baseurl  }}" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out sm:pl-5 sm:pr-6" role="menuitem">Home
        </a>
      {% endif %}

      {% if page.url == "/blog" %}
        <a href="{{ site.baseurl  }}/blog" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-teal-500 text-base font-medium text-teal-700 bg-teal-50 focus:outline-none focus:text-teal-800 focus:bg-teal-100 focus:border-teal-700 transition duration-150 ease-in-out sm:pl-5 sm:pr-6" role="menuitem">Blog
        </a>
      {% else %}
        <a href="{{ site.baseurl  }}/blog" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out sm:pl-5 sm:pr-6" role="menuitem">Blog
        </a>
      {% endif %}

      {% if page.url == "/contact/" %}
        <a href="{{ site.baseurl  }}/contact" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-teal-500 text-base font-medium text-teal-700 bg-teal-50 focus:outline-none focus:text-teal-800 focus:bg-teal-100 focus:border-teal-700 transition duration-150 ease-in-out sm:pl-5 sm:pr-6" role="menuitem " >Contact
        </a>
      {% else %}
        <a href="{{ site.baseurl  }}/contact" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out sm:pl-5 sm:pr-6" role="menuitem " >Contact
        </a>
      {% endif %}

      <a href="https://twitter.com/raguila8" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out sm:pl-5 sm:pr-6" role="menuitem" target="_blank">Twitter
      </a>
    </div>
  </div>
</nav>
